extends layout

block content
  h1= title
  #balloon
    ul#header
      li
        a(href="#images-content") Images  
      li
        a(href="#translation-content") Translation
    .content
      #translation-content 
        .add
        #audio
          a(href="#")
            audio(src="")
            i.fa.fa-play-circle-o.fa-2x  
        #translation
          #text
            h3 
          #list-translation
      #images-content.grid
    
    
    
          
                
  div#text 
    input(type="text" placeholder='text' value='macaco')
  div#from
    input(type="text" placeholder='from' value='pt-BR')
  div#to   
    input(type="text" placeholder='to' value='en')
  
  #images-test
