extends layout

block content
  
  h1(style="color:royalblue") Drafts 
  
  h2 Bluimp Tutorial
  form(action="/upload" method="post" enctype="multipart/form-data")
    input#fileupload(type="file" name="files[]" data-url="upload")
    input(type="submit" name="submit" id="Submit")
  h2 Upload Express.js 
  form(action="/upload" method="post" enctype="multipart/form-data")
    input(type="file" name="file" id="file")
    br  
    input(type="submit" name="submit" id="Submit")
  br
  
  h2 Balloon
  #balloon
    ul#header
      li
        a(href="#images-content") Images  
      li
        a(href="#translation-content") Translation
    .content
      #translation-content 
        .add
        #audio
          a(href="#")
            audio(src="")
            i.fa.fa-play-circle-o.fa-2x  
        #translation
          #text
            h3 
          #list-translation
      #images-content
    
    
    
          
                
  div#text 
    input(type="text" placeholder='text' value='macaco')
  div#from
    input(type="text" placeholder='from' value='pt-BR')
  div#to   
    input(type="text" placeholder='to' value='en')
  
  #images-test
