extends layout

block content
  .container
    video(src="/videos/The.Big.Bang.Theory.S08E11.HDTV.x264-LOL.mp4" controls)
      track(kind="subtitles" src="/videos/The.Big.Bang.Theory.S08E11.HDTV.x264-LOL.vtt" srclang="en" hidden)
    #banner
      i.controls.previous.fa.fa-caret-left.fa-3x
      #subtitles
        h1 
          //- Here will go the subtitles
      i.controls.next.fa.fa-caret-right.fa-3x
  #balloon
    ul#header
      li
        a(href="#images-content") Images  
      li
        a(href="#translation-content") Translation
    .content
      #translation-content 
        .add
        #audio
          a(href="#")
            audio(src="")
            i.fa.fa-play-circle-o.fa-2x  
        #translation
          #text
            h3 
          #list-translation
      #images-content.grid
    
