doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= title
    block css
      link(rel='stylesheet', href='/components/jquery-ui/themes/blitzer/theme.css')
      link(rel='stylesheet', href='/components/jquery-ui/themes/blitzer/jquery-ui.min.css')
      link(rel='stylesheet', href="/components/font-awesome/css/font-awesome.min.css")
      link(rel='stylesheet', href='/css/main.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block content
    script(src="/components/jquery/dist/jquery.min.js")    
    script(src="/components/jquery-ui/jquery-ui.min.js")    
    script(src="/components/jquery-ui/jquery-ui.min.js")
    script(src="/js/globalVariables.js")
    script(src="/js/uploader.js")
    script(src="/js/balloon.js")
    script(src="/js/banner.js")
    script(src="/js/controls.js")
    
