extends layout

block content
    #balloon
      ul
        li
          a(href="#balloon-1") Translation
        li
          a(href="#balloon-2") Images
      .content
        #balloon-1
            p Hello
        #balloon-2
            p hi
                
  
