doctype html
html(lang="en")
  head
    title Immersion
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="//localhost:35729/livereload.js")
  body 
    block content
    script(src="/dist/js/lib/jquery.min.js")
    script(src="/dist/js/lib/jquery-ui.min.js")
    script(src="/dist/js/video.min.js")  
