body {
  padding: 50px;
  font: 1.62em "Lucida Grande", Helvetica, Arial, sans-serif;
  color: royalblue; }

#balloon {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column; }
  #balloon > ul {
    height: 50px;
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0; }
    #balloon > ul li {
      border: 1px solid blue;
      display: flex; }
      #balloon > ul li a {
        padding: 7px 15px;
        margin: auto; }
  #balloon .content {
    display: flex;
    justify-content: flex-end;
    border: 1px solid blue;
    height: auto;
    position: relative; }
    #balloon .content #translation-content {
      width: 80%;
      height: 60%;
      margin-top: 10%;
      margin-right: 10%;
      margin: 10% auto 10%;
      display: flex;
      justify-content: flex-end;
      border: 1px solid blue; }
      #balloon .content #translation-content #audio {
        border: 1px solid blue;
        height: 50px;
        width: 50px;
        margin: auto; }
      #balloon .content #translation-content #translation {
        width: 75%;
        border: 1px solid blue;
        padding-left: 7%; }
        #balloon .content #translation-content #translation #list-translation li:not(:first-child) {
          padding-top: 5px; }
    #balloon .content #images-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 80%;
      height: 80%;
      border: 1px solid blue;
      margin: 10%; }
      #balloon .content #images-content div {
        position: relative;
        border: 1px solid blue;
        flex-basis: 125px;
        height: 75px; }

.add {
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  position: absolute;
  top: 10px;
  right: 10px; }

h2 {
  margin: 0; }

a {
  text-decoration: none;
  color: inherit; }
