//-uploader
#dropRegion.uploader {
  margin: auto;
  width: 62.18vw;
  height: 62.18vh;
  border: 2px dashed gray;
  display: flex;
  .text {
    color:black;
    text-align: center;
    margin: auto;
  }
}
