#dropRegion.uploader {
  margin: auto;
  width: 62.18vw;
  height: 62.18vh;
  border: 2px dashed gray;
  display: flex; }
  #dropRegion.uploader .text {
    color: black;
    text-align: center;
    margin: auto; }

video {
  object-fit: cover;
  width: 100%;
  height: 100%; }

#banner {
  width: 100vw;
  height: 20vh;
  bottom: 10vh;
  opacity: 1;
  background: transparent;
  position: absolute;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  #banner #subtitles {
    text-align: center;
    color: white;
    position: relative;
    font-size: 2em;
    z-index: 15; }
  #banner .controls {
    color: transparent; }
  #banner.pausedVideo {
    color: yellow !important;
    opacity: 0.5 !important;
    background: black !important; }

#balloon {
  width: 400px;
  position: absolute;
  top: 0;
  height: auto;
  display: none;
  flex-direction: column;
  background: none;
  border: none; }
  #balloon > ul {
    height: 50px;
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
    background: none;
    border: none; }
    #balloon > ul a:link {
      color: inherit; }
    #balloon > ul li {
      z-index: 1;
      margin: 0;
      border: none;
      background: gray;
      position: relative;
      top: 1px;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      display: flex; }
      #balloon > ul li.ui-state-default {
        color: black; }
      #balloon > ul li.ui-state-active {
        color: #c00; }
      #balloon > ul li a {
        padding: 7px 15px;
        margin: auto; }
    #balloon > ul li:first-child {
      background: white; }
  #balloon .content {
    z-index: 2;
    position: relative;
    background: white;
    border-radius: 0 5px 5px 5px;
    display: flex;
    justify-content: flex-end;
    height: auto;
    position: relative; }
    #balloon .content #translation-content {
      width: 80%;
      height: 60%;
      margin: 5% auto;
      display: flex;
      justify-content: flex-end; }
      #balloon .content #translation-content #audio {
        height: 50px;
        width: 50px;
        margin: auto; }
      #balloon .content #translation-content #translation {
        width: 75%;
        padding-left: 7%; }
        #balloon .content #translation-content #translation p {
          margin-top: 4%; }
        #balloon .content #translation-content #translation h3 {
          margin-bottom: 2%; }
        #balloon .content #translation-content #translation #list-translation li:not(:first-child) {
          padding-top: 5px; }
    #balloon .content #images-content {
      margin: 4% !important;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center; }
      #balloon .content #images-content div {
        margin-right: 1%; }
  #balloon .add {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px; }
  #balloon h2 {
    margin: 0; }
  #balloon a {
    text-decoration: none;
    color: inherit; }

#controls {
  width: 80vw;
  height: 4.5283018868vw;
  position: absolute;
  bottom: 2vh;
  left: 50vw;
  transform: translate(-50%, 0);
  visibility: hidden; }
  #controls #progress .ui-slider-range {
    background: #ef2929; }
  #controls #progress .ui-slider-handle {
    height: 0.8em;
    width: 0.8em;
    top: -0.05em;
    border-radius: 31px; }
  #controls #progress.ui-widget-content {
    border: none; }
  #controls #settings {
    display: flex;
    justify-content: space-between;
    align-content: center; }
    #controls #settings .left,
    #controls #settings .right {
      display: flex; }
    #controls #settings #volume {
      margin: 0;
      padding: 0;
      position: relative;
      display: flex;
      align-content: center;
      flex-direction: column; }
      #controls #settings #volume #volume-control {
        display: none;
        position: absolute;
        justify-content: center;
        z-index: 5; }
        #controls #settings #volume #volume-control .ui-slider-handle {
          height: 0.8em;
          width: 0.8em;
          left: -0.05em;
          border-radius: 31px; }
        #controls #settings #volume #volume-control .ui-slider-range {
          background: #edc832; }
    #controls #settings .fa {
      margin: 15px;
      font-size: 2em !important; }

body {
  color: white;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column; }
  body #cinema {
    display: none;
    width: 100%;
    height: 100%; }

.show-flex {
  display: flex !important; }

.show-block {
  display: block !important; }
